name: Build and Push Docker image (Docker Hub)

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          # Bu yerda username va loyiha nomini aniq yozdik, slesh xatosini yo'qotish uchun
          tags: |
            shargun1303/mp_9_project:latest
            shargun1303/mp_9_project:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max